<section class="quote-section" aria-label="Quote Pondok Pesantren Roudlatul Ulum">
  <div class="quote-slider">
    <button class="slide-btn prev-btn" aria-label="Previous Quote">&#10094;</button>
    <button class="slide-btn next-btn" aria-label="Next Quote">&#10095;</button>

    <div class="slides-container">
      
    </div>

    <div class="dots-container" aria-label="Slide navigation">
      <button class="dot active" aria-label="Pilih slide 1"></button>
      <button class="dot" aria-label="Pilih slide 2"></button>
      <button class="dot" aria-label="Pilih slide 3"></button>
      <button class="dot" aria-label="Pilih slide 4"></button>
      <button class="dot" aria-label="Pilih slide 5"></button>
    </div>
  </div>
</section>
